@model SIFAIS.Modelos.Datos.TblTipoDonante

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.error != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@ViewBag.error</strong> Pongase en contacto con el administrador.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="contenedor-contenido">
    <h4 class="text-muted">Tipo De Donante</h4>

    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="contenedor-form-group">
                    <div>
                        <label class="font-weight-bold" asp-for="Descripcion"></label>
                        <br />
                        <input asp-for="Descripcion" class="txt-form" />
                        <br />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="font-weight-bold" asp-for="Detalles"></label>
                        <br />
                        <textarea type="textarea" asp-for="Detalles" class="txt-form"></textarea>
                        <br />
                        <span asp-validation-for="Detalles" class="text-danger"></span>
                    </div>
                </div>
                <div class="contenedor-form-group">
                    <div>
                        <label class="form-estado font-weight-bold">
                            <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                        </label>
                    </div>
                </div>
                <div class="form-group col-sm-12 contenedor-botones">
                    <div class="col-md-3">
                        <a asp-action="Index" class="btn-atras form-control">Atrás</a>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value="Modificar" class="btn-crear form-control" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




