<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SIFAIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/contenido-principal.css" />
</head>
<body>
    <div class="contenedor">
        <div class="contenedor-sidebar" id="contenedor-sidebar">
            <input type="button" id="btnOcultar" class="btnOcultar" value="ocultar"/>
            <div class="contenedor-logo">
                <img alt="SIFAIS" src="~/img/Logo-SIFAIS.webp" />
                <div class="text-center">
                    <p class="linea"></p>
                </div>
            </div>
            <div class="contenedor-logout">
                <a class="logout" asp-action="Edit" asp-controller="Usuario" asp-route-id="@User.Identity.GetUserId()"><i class="fa fa-user" aria-hidden="true"></i></a>
                <a class="logout" asp-action="LogOut" asp-controller="Login"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
            <div class="contenedor-opciones">
                <p>
                    <a class="boton-expandible" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                        <i class="fa fa-line-chart" aria-hidden="true"></i> Admi. Donaciones
                    </a>
                </p>
                <div class="collapse" id="collapseExample3">
                    <div class="contenedor-expandible">
                        <a asp-action="Index" asp-controller="Donacion">Ver Donaciones</a>
                        <a asp-action="Index" asp-controller="Donante">Ver Donantes</a>
                        <a asp-action="Index" asp-controller="Espacio">Ver Espacios</a>
                        <a asp-action="Index" asp-controller="Mensajero">Ver Mensajeros</a>
                        <a asp-action="Index" asp-controller="ResponsableDonacion">Ver Responsables</a>
                        <a asp-action="Index" asp-controller="TipoDonante">Ver Tipo de Donante</a>
                        <a asp-action="Index" asp-controller="TipoDonacion">Ver Tipo de Donación</a>
                        <a asp-action="Index" asp-controller="DocumentacionSifais">Ver Documentación SIFAIS</a>
                    </div>
                </div>
                <p>
                    <a class="boton-expandible" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
                        <i class="fa fa-line-chart" aria-hidden="true"></i> Admi. Activos
                    </a>
                </p>
                <div class="collapse" id="collapseExample4">
                    <div class="contenedor-expandible">
                        <a asp-action="Index" asp-controller="Activos">Ver Activos</a>
                        <a asp-action="Index" asp-controller="ActivosPrestados">Ver Prestamos</a>
                        <a asp-action="Index" asp-controller="ResponsableActivo">Ver Responsables</a>
                        <a asp-action="Index" asp-controller="TipoActivo">Ver Tipo Activos</a>
                        <a asp-action="Index" asp-controller="Departamento">Ver Departamentos</a>
                        <a asp-action="Index" asp-controller="EstadoActivos">Ver Estados Activos</a>
                        <a asp-action="Index" asp-controller="EstadoPrestamo">Ver Estado Prestamos</a>
                        <a asp-action="Index" asp-controller="TipoResponsable">Ver Tipo Responsables</a>
                    </div>
                </div>
                <p>
                    <a class="boton-expandible" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
                        <i class="fa fa-cogs" aria-hidden="true"></i> Config. General
                    </a>
                </p>
                <div class="collapse" id="collapseExample5">
                    <div class="contenedor-expandible">
                        <a asp-action="Index" asp-controller="Usuario">Usuarios</a>
                        <a asp-action="Index" asp-controller="Sedes">Sedes</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-principal">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/js/JavaScript.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*FONT AWESOME*@
    <script src="https://kit.fontawesome.com/40b7719c81.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
