@model SIFAIS.Models.ResponsableVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.error != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@ViewBag.error</strong> Pongase en contacto con el administrador.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="contenedor-contenido">
    <h4 class="text-muted">Responsables de Activos</h4>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Responsable.Id" />
                <div class="contenedor-form-group">
                    <div>
                        <label class="font-weight-bold" asp-for="Responsable.Nombre"></label>
                        <br />
                        <input asp-for="Responsable.Nombre" class="txt-form" />
                        <br />
                        <span asp-validation-for="Responsable.Nombre" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="font-weight-bold" asp-for="Responsable.Apellido"></label>
                        <br />
                        <input asp-for="Responsable.Apellido" class="txt-form" />
                        <br />
                        <span asp-validation-for="Responsable.Apellido" class="text-danger"></span>
                    </div>
                </div>

                <div class="contenedor-form-group">
                    <div>
                        <label class="font-weight-bold" asp-for="Responsable.IdTipoResponsable"></label>
                        <div>
                            @Html.DropDownListFor(m => m.Responsable.IdTipoResponsable, Model.lstTipoResponsable, new { @class = "txt-form" })
                        </div>
                    </div>
                    <div>
                        <label class="font-weight-bold" asp-for="Responsable.Cedula"></label>
                        <br />
                        <input asp-for="Responsable.Cedula" class="txt-form" />
                        <br />
                        <span asp-validation-for="Responsable.Cedula" class="text-danger"></span>
                    </div>
                </div>

                <div class="contenedor-form-group">
                    <div>
                        <label class="font-weight-bold" asp-for="Responsable.CorreoElectronico"></label>
                        <br />
                        <input asp-for="Responsable.CorreoElectronico" class="txt-form" />
                        <br />
                        <span asp-validation-for="Responsable.CorreoElectronico" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="font-weight-bold" asp-for="Responsable.Celular"></label>
                        <br />
                        <input asp-for="Responsable.Celular" class="txt-form" />
                        <br />
                        <span asp-validation-for="Responsable.Celular" class="text-danger"></span>
                    </div>
                </div>

                <div class="contenedor-form-group">
                    <div>
                        <label class="font-weight-bold" asp-for="Responsable.Edad"></label>
                        <br />
                        <input asp-for="Responsable.Edad" class="txt-form" />
                        <br />
                        <span asp-validation-for="Responsable.Edad" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="font-weight-bold" asp-for="Responsable.CodigoExterno"></label>
                        <br />
                        <input asp-for="Responsable.CodigoExterno" class="txt-form" />
                        <br />
                        <span asp-validation-for="Responsable.CodigoExterno" class="text-danger"></span>
                    </div>
                </div>
                <div class="contenedor-form-group">
                    <div>
                        <label class="font-weight-bold" asp-for="Responsable.Direccion"></label>
                        <br />
                        <input asp-for="Responsable.Direccion" class="txt-form" />
                        <br />
                        <span asp-validation-for="Responsable.Direccion" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="form-estado font-weight-bold">
                            <input class="form-check-input" asp-for="Responsable.Estado" /> @Html.DisplayNameFor(model => model.Responsable.Estado)
                        </label>
                    </div>
                </div>
                <div class="form-group col-sm-12 contenedor-botones">
                    <div class="col-md-3">
                        <a asp-action="Index" class="btn-atras form-control">Atrás</a>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value="Modificar" class="btn-crear form-control" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

