
@{
    ViewData["Title"] = "Reporte Donaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenedor-contenido">
    <p class="contenedor-cabecera">
        <a class="h4 text-muted">Reportes de Donaciones</a>
    </p>
    <div class="form-group">
        <a target="_blank" class="btn btn-outline-primary form-control" asp-action="IndexRepGeneral" asp-controller="RepDonaciones">Reporte general de donaciones</a>
    </div>
    <div></div>
    <div class="form-group">
        <a target="_blank" class="btn btn-outline-primary form-control" asp-action="IndexRepDonaciones" asp-controller="RepDonaciones">Listado de donantes</a>
    </div>
    <div></div>
    <div class="form-group">
        <a target="_blank" class="btn btn-outline-primary form-control" asp-action="IndexDonaciones" asp-controller="RepDonaciones">Total de donacines</a>
    </div>
    <div></div>
</div>

